<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Your Outfit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
</head>

<body>
    <div class="container">

        <div class="header">Header</div>
        {{!-- TOPS --}}
        <div class="row">
            <div class="col">
                <button id="lockTop"><i class="fas fa-lock-open"></i></button>
            </div>
            <div class="col">
                <div id="topsImage">
                    {{> tops}}
                </div>
            </div>
            <div class="col">
                <button id="refreshTops">Refresh</button>
            </div>
        </div>
        {{!-- BOTTOMS --}}
        <div class="row">
            <div class="col">
                <button id="lockBottoms"><i class="fas fa-lock-open"></i></button>
            </div>
            <div class="col">
                <div id="bottomsImage">
                    {{> bottoms}}
                </div>
            </div>
            <div class="col">
                <button id="refreshBottoms">Refresh</button>
            </div>
        </div>
        {{!-- SHOES --}}
        <div class="row">
            <div class="col">
                <button id="lockShoes"><i class="fas fa-lock-open"></i></button>
            </div>
            <div class="col">
                <div id="shoesImage">
                    {{> shoes}}
                </div>
            </div>
            <div class="col">
                <button id="refreshShoes">Refresh</button>
            </div>
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/generator.js"></script>

</html>