<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Da.Mo.Jo</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/one-page-wonder.min.css" rel="stylesheet">
  <link href="stylesheets/one-page-wonder.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/members">Da.Mo.Jo. Virtual Closet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">My Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favorites">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead text-center text-white outfitgen">
    <div class="masthead-content">
      <div class="container">
        <h2>Create My Outfit!</h2>
      </div>
    </div>
  </header>


  <section>
    <div class="container">
        {{!-- TOPS --}}
        <div class="row firstrow">
            <div class="col">
                {{!-- <button id="lockTop"><i class="fas fa-lock-open"></i></button> --}}
            </div>
            <div class="col">
                <div id="topsImage">
                    {{> tops}}
                </div>
            </div>
            <div class="col">
                <button id="refreshTops" class="btn btn-primary btn-md rounded-pill mt-5">Refresh</button>
            </div>
        </div>
        {{!-- BOTTOMS --}}
        <div class="row">
            <div class="col">
                {{!-- <button id="lockBottoms"><i class="fas fa-lock-open"></i></button> --}}
            </div>
            <div class="col">
                <div id="bottomsImage">
                    {{> bottoms}}
                </div>
            </div>
            <div class="col">
                <button id="refreshBottoms" class="btn btn-primary btn-md rounded-pill mt-5">Refresh</button>
            </div>
        </div>
        {{!-- SHOES --}}
        <div class="row">
            <div class="col">
                {{!-- <button id="lockShoes"><i class="fas fa-lock-open"></i></button> --}}
            </div>
            <div class="col">
                <div id="shoesImage">
                    {{> shoes}}
                </div>
            </div>
            <div class="col">
                <button id="refreshShoes" class="btn btn-primary btn-md rounded-pill mt-5">Refresh</button>
            </div>
        </div>
        {{!-- SAVE BUTTON --}}
        <div class="favoriteButton text-center">
            <button id="saveBtn" class="btn btn-primary btn-lg rounded-pill mt-5">Save My Outfit</button>
            <a href="/favorites"><button id="favoritesBtn" class="btn btn-primary btn-lg rounded-pill mt-5">View My Favorites</button></a>
        </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Da.Mo.Jo 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/generator.js"></script>
</body>
</html>